<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Super Duper Product System</h1>

<% if flash[:notice] %>
  <div class="flash-messages">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
